/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: honeydew;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

button {
  display: flex;
  min-height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header nav ul {
  margin: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  color: #274fc8;
}

header nav ul a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

header nav ul a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 1rem 8rem;
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  align-self: center;
  max-width: 250px;
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  background-color: #274fc8;
  color: #fff;
  text-decoration: none;
  border: 1px solid #3b62d6;
  font-family: sans-serif;
  letter-spacing: 0.05em;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.1) inset, 0 0 24px -10px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #3b62d6;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.1) inset, 0 0 24px -6px rgba(0, 0, 0, 0.6);
}

.pool {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #dfecfc;
}

.title {
  margin-bottom: 2rem;
  color: #212121;
  font-size: 1.5rem;
}

.title.red-color {
  color: #d94848;
}

.fact {
  padding: 1em;
  border-radius: 8px;
  background-color: #fffdf3;
  box-shadow: 0 0 54px -28px rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
  line-height: 1.15em;
  color: #212121;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.fact + .fact {
  margin-top: 1.5rem;
}

.link {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: auto;
  text-decoration: underline;
  cursor: pointer;
  color: #274fc8;
}